.footer {
    background-color: #fff;;
    padding: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 3px solid #F2921D;
    color: #F2921D;
  }
  
  .footer p {
    margin: 0 10px;
    color: #F2921D;
    font-family: 'roberto', sans-serif;;
    text-decoration: none;
  }
 .smLink {
  font-size: 20px;
 }
 .links{
  display: flex;
  justify-content: center;
 }
