/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 3px solid #F2921D;
  background-color: #f4eded;
 
}
.search{
  display: flex;
}
.nav .searchBtn{
  border-color: #F2921D;
  color: #F2921D;
  margin-left: 10px;
}
.nav .searchBtn:hover{
  border-color: #F2921D;
  color: white;
  background-color: #F2921D;
}

.nav .inputText:focus{
  box-shadow: none;
  border: 1px solid #F2921D;
}
.navbar-logo{
  display: flex;
  align-items: center;
  margin: 5px;
}
.navbar h1{
  margin-bottom: 0;
}
img .logo{
  height: 70px;
  width: 70px;
}
img.main-image {
  height: 100px;
  width: 100px;
  padding-top: 12px;
}
.logo-container{
  font-family: 'roberto', sans-serif;
  color: #F2921D;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-links-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #F2921D;
  font-family: 'roberto', sans-serif;

}
.nav a {
  text-decoration: none;
  color: #F2921D;
  font-family: 'roberto', sans-serif;
  text-align: center;
}
.nav .nav-link:hover {
  text-decoration: underline;
  color: #ffa200;
}
  
.nav .nav-link:focus{
  color: #ffa200;
  font-weight: bold;
}
  
  .property-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .property {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(50% - 20px); 
  }
  
  .property h3 {
    margin-top: 0;
  }
  /* src/components/Navbar.css */
.property-list-container {
    display: flex;
    gap: 20px;
  }
  
  .property-list {
    flex: 1;
  }
  
  .property-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .property {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .property h3 {
    margin-top: 0;
  }
  .property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .map-container {
    flex: 1;
    height: 400px; /* Adjust height as needed */
  }
  