/* styles/PropertyDetail.css */

.property-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.property-detail-left {
    flex: 1 1 50%;
    margin-right: 20px;
}

.property-detail-right {
    flex: 1 1 50%;
}

.property-detail-left img {
    max-width: 100%;
    height: auto;
}