.saved-properties-container {
    padding: 20px;
  }
  
  .saved-properties-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .saved-property-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .saved-property-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .saved-property-link {
    text-decoration: none;
    color: inherit;
  }
  
  .saved-property-image-container {
    width: 150px;
    height: 100px;
    overflow: hidden;
  }
  
  .saved-property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .saved-property-info {
    flex: 1;
    padding: 10px;
  }
  
.Heart {
  cursor: pointer;
  color: white; /* Default color for unsaved properties */
}

.Heart.saved {
  color: white; /* Color for saved properties */
}

  